$mainFont: 'Roboto', sans-serif;
$fontPlayfair: 'Playfair Display', serif;
$fontPrata: 'Prata', serif;

$white: #ffffff;
$black: #1B1A17;
$textColor: rgba(27, 26, 23, 0.82);
$pink: #D4B098;
$footerColor: #444240;

$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';