.main {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media ($tablet) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
        }
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media ($tablet) {
            align-items: start;
            position: relative;
            z-index: 0;
        }
    }

    &__title {
        font-family: $fontPlayfair;
        font-style: normal;
        font-weight: 400;
        font-size: 4.5rem;
        line-height: 6rem;
        color: $black;
        text-align: center;
        margin-bottom: 1.6rem;
        @media ($tablet) {
            text-align: left;
        }
        @media ($desktop) {
                
            &::before {
                content: '';
                display: inline-block;
                width: 5rem;
                border-bottom: 1px solid #8B8371;
                margin-bottom: 1.5rem;
                margin-right: 1.5rem;
                margin-left: 1rem;
            }
        }
    }

    &__small-title {
        font-family: $fontPlayfair;
        font-style: normal;
        font-weight: 400;
        font-size: 3rem;
        line-height: 4rem;
        color: $black;
        text-align: center;
        margin-bottom: 2rem;
        @media ($tablet) {
            text-align: left;
            margin-bottom: 4rem;
        }
        @media ($desktop) {
            margin-left: 7.5rem;
        }
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 2rem;
        color: rgba(27, 26, 23, 0.82);
        text-align: center;
        margin-bottom: 2rem;
        @media ($tablet) {
            text-align: left;
            margin-bottom: 4rem;
        }
        @media ($desktop) {
            margin-left: 7.5rem;
        }
    }

    &__btn {
        @include button($black);
        margin-bottom: 2rem;
        @media ($tablet) {
            margin-bottom: 0;
        }
        @media ($desktop) {
            margin-left: 7.5rem;
        }
    }

    &__img-container {
        position: relative;
        @media ($tablet) {
            margin-right: 14rem;
        }
        @media (min-width: 1150px) {
            margin-right: 24rem;
        }
    }

    &__ellipse {
        width: 100%;
        height: 47.8rem;
        max-width: 50rem;
        overflow: hidden;
        pointer-events: none;
        @media ($tablet) {
            height: 60rem;
            width: 32rem;
        }
        @media ($desktop) {
            width: 45rem;
            height: 75rem;
        }
    }

    &__img {
        position: absolute;
        width: 30rem;
        right: calc(50% - 15rem);
        top: 1.6rem;

        @media ($tablet) {
            width: 40rem;
            right: calc(50% - 30rem);
            top: -1.5rem;
        }
        @media ($desktop) {
            width: 50rem;
            right: calc(50% - 40rem);
            object-fit: cover;
        }
    }

    &__price {
        position: absolute;
        font-family: $fontPrata;
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        color: $black;
        top: 7rem;
        @media ($tablet) {
            left: 4rem;
            &::after {
                content: '';
                display: inline-block;
                width: 5rem;
                border-bottom: 1px solid #8B8371;
                margin-left: 1.5rem;
                margin-bottom: .5rem;
            }
        }
        @media ($desktop) {
            left: 12rem;
        }
    }

    &__size {
        position: absolute;
        font-family: $fontPrata;
        font-style: normal;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 2rem;
        color: $black;
        bottom: 2rem;
        right: 0;
        @media ($tablet) {
            font-size: 1.6rem;
            right: -13.5rem;
        }
        @media (min-width: 1150px) {
            right: -21rem;
            &::before {
                content: '';
                display: inline-block;
                width: 5rem;
                border-bottom: 1px solid #8B8371;
                margin-right: 1.5rem;
                margin-bottom: .5rem;
            }
        }
    }
}